@media (max-width:991px) {
    .button {
        &:hover {
            transform: none;
            box-shadow: none;
        }
        &:active {
            transform: scale(0.9);
        }
    }
    .promo {
        .header {
            justify-content: space-evenly;
        }

        &__wrapper {
            align-items: center;
        }
    }
    .consultation {
        padding: 100px 15px;
        min-height: 660px;
        .title--left {
            font-size: 34px;
            line-height: 50px;
        }
    }
    .catalog {
        &__content {
            margin-top: 45px;
        }
    }
    .feedback {
        &__client {
            justify-content: space-evenly;
        }
        &__text {
            max-width: 535px;
        }
    }
    .footer {
        height: 530px;
        &__info {
            width: 430px;
            height: 250px;
            padding: 30px 50px;
        }
    }
}

@media (max-width:767px) {
    .promo {
        min-height: 590px;
        padding: 18px 0 85px 0;

        .header {
            &__logo {
                width: 210px;
            }

            &__official {
                font-size: 11px;

                span {
                    font-size: 15px;
                }
            }

            &__phone {
                font-size: 16px;
            }

            .button {
                width: 145px;
                height: 28px;
            }
        }

        &__wrapper {
            margin-top: 55px;
        }

        &__title {
            font-size: 40px;
            line-height: 40px;
        }

        &__subtitle {
            font-size: 22px;
            margin-top: 15px;
            line-height: 22px;
        }

        &__icons {
            margin-top: 55px;
        }
    }

    .advantages {
        min-height: 450px;
        padding: 60px 0 60px;

        &__wrapper {
            margin-top: 50px;
        }

        &__item-title {
            margin-top: 30px;
            font-size: 16px;
            line-height: 26px;
        }

        &__item-desc {
            font-size: 11px;
            line-height: 17px;
            margin-top: 16px;
        }
    }
    .consultation {
        padding: 60px 15px;
        min-height: 600px;
        .title--left {
            font-size: 25px;
            line-height: 40px;
        }
        &__desc {
            font-size: 18px;
            line-height: 26px;
        }
    }
    .carousel {
        padding: 60px 0;
        min-height: 590px;
    }
    .catalog {
        padding-bottom: 60px;
        &__tabs {
            margin-top: 30px;
        }
        &__tab {
            width: 160px;
            height: 45px;
            font-size: 17px;
            line-height: 43px;
        }
        &__content {
            margin-top: 30px;
        }
    }
    .feedback {
        &__client {
            margin-top: 30px;
        }
        &__avatar {
            width: 170px;
            img {
                width: 100%;
            }
        }
        &__text {
            max-width: 435px;
            margin-left: 20px;
        }
        &__review {
            font-size: 14px;
            p {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width:575px) {
    .promo {
        min-height: 400px;
        padding: 15px 0;

        .header {
            // flex-flow: wrap column;
            gap: 10px;
            flex-wrap: wrap;

            &__official {
                // display: none;
                font-size: 10px;

                span {
                    font-size: 13px;
                }
            }

            &__contacts {
                // margin-top: 15px;
                align-items: center;
            }

            &__phone {
                font-size: 13px;
                position: relative;
            }
        }

        .button {
            height: 26px;
            margin-top: 2px;
            width: 135px;
        }

        &__wrapper {
            margin-top: 30px;
        }

        &__title {
            font-size: 28px;
            line-height: 28px;
            text-align: center;

            &::before {
                content: "";
                display: block;
                margin: 0 auto;
                position: relative;
                top: -13px;
                width: 70%;
                height: 2px;
                background-color: #fff;
            }
        }

        &__subtitle {
            font-size: 16px;
            margin-top: 15px;
            line-height: 15px;
            text-align: center;
        }

        &__icons {
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100vw;
            margin-top: 30px;
            gap: 10px;
        }

        .button--main {
            margin-top: 30px;
            width: 280px;
            height: 45px;
        }
    }

    .title {
        font-size: 26px;
    }

    .advantages {
        width: 100vw;
        padding: 25px 0;
        &__wrapper {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
        &__item-title {
            margin-top: 15px;
        }
        &__item-desc {
            margin-top: 10px;
        }
    }
    .consultation {
        width: 100vw;
        padding: 30px 5px;
        min-height: 500px;
        text-align: center;
        .title--left {
            font-size: 20px;
            line-height: 30px;
            text-align: center;
        }
        &__desc {
            font-size: 15px;
            line-height: 20px;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 30px;
            justify-content: center;
            align-items: center;
        }
    }
    .carousel {
        padding: 40px 0;
        min-height: 350px;
    }
    .catalog {
        padding-bottom: 30px;
        &__tabs {
            margin-top: 15px;
        }
        &__tab {
            width: 98px;
            height: 30px;
            font-size: 11px;
            line-height: 28px;
            margin: 0 1px;
        }
        &__content {
            margin-top: 15px;
        }
    }
    .feedback {
        &__clients {
            padding: 0 5px;
        }
        &__client {
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
        }
        &__avatar {
            width: 120px;
            height: 120px;
        }
        &__text {
            margin-left: 0;
        }
        &__client-name {
            text-align: center;
        }
        &__client-achievements {
            text-align: center;
        }
    }
    .footer {
        width: 100vw;
        &__info {
            width: 320px;
            height: 150px;
            padding: 10px 10px;
        }
        &__address {
            font-size: 18px;
            line-height: 18px;
        }
        &__phone {
            margin: 15px 60px;
        }
        &__social {
            margin-top: 20px;
        }
    }
    .overlay {
        .modal {
            width: 320px;
            padding: 30px 10px;
            &__close {
                right: 5px;
                top: 10px;
            }
        }
        .feed-form--mt25 {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}