@import 'base/variables.scss';

* {
    font-family: 'MuseoModerno', sans-serif;
}
p {
    padding: 0;
    margin: 0;
}
h2 {
    margin: 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/titles';
@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/buttons.scss';
@import 'blocks/advatages';


@import 'base/media';