.button {
    width: 153px;
    height: 32px;
    background: $main-color;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    transition:all 0.15s linear;
    &:hover {
        box-shadow:0 5px 3px #880707;
        transform: translateY(-5px);
    }
    &:active {
        box-shadow: none;
        transform: none;
    }
    &--main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &--submit {
        height: 58px;
        width: 100%;
        font-size: 16px;
    }
    &--mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}   